p{
    font-family: Barlow-semi;
    letter-spacing: -0.13px;
    line-height: 30px;
}

h1, h2, h3, h4, h5, h6{
    font-family: Fraunces;
}

.grid{
    display: grid;
}
.header{
    background-color: $color-lightblue2;
    background-size: 100%;
    background-repeat: no-repeat;
    color: $color-white;
    grid-template-areas: 
                            "brand navi"
                            "title title";
    &__brand{
        grid-area: brand;
    }
    &__nav{
        grid-area: navi;
    }
    &__title{
        grid-area: title;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        text-transform: uppercase;
        text-align: center;
        font-weight: 900;
    }
    &__title::after{
        content: "";
        background-image: url($icon-arrowdown-path);
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 30px;
        height: 108px;
        position: absolute;
        left: calc(50% - 15px);
    }
}
.services{
    &__title{
        font-weight: 900;
    }
    &__titleh2{
        color: $color-darkgray;
    }
    &__text{
        color: $color-gray;
    }
    &__more, &__more:visited{
        text-decoration: none;
        color: $color-darkgray;
        font-family: Fraunces;
        text-transform: uppercase;
        font-weight: 900;
    }
    &__more::after{
        content: "";
        display: block;
        width: 137px;
        height: 10px;
        border-radius: 5px;
        top: -6px;
        z-index: -1;
        position: relative;
    }
    &__more.color-tangerine::after{
        background-color: $color-tangerine-alpha;
    }
    &__more.color-tangerine:hover{
        &::after{
            background-color: $color-tangerine;
        }
    }
    &__more.color-yellow::after{
        background-color: $color-yellow-alpha;
    }
    &__more.color-yellow:hover{
        &::after{
            background-color: $color-yellow;
        }
    }
    &__image{
        &.services--egg{

        }
    }
}