p, a{
    font-family: Barlow-semi;
    letter-spacing: -0.13px;
    line-height: 30px;
}

h1, h2, h3, h4, h5, h6{
    font-family: Fraunces;
}

.grid{
    display: grid;
}
.header{
    background-color: $color-lightblue2;
    background-size: 100%;
    background-repeat: no-repeat;
    color: $color-white;
    grid-template-areas: 
                            "brand navi"
                            "title title";
    &__brand{
        grid-area: brand;
    }
    &__nav{
        grid-area: navi;
    }
    &__title{
        grid-area: title;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        text-transform: uppercase;
        text-align: center;
        font-weight: 900;
    }
    &__title::after{
        content: "";
        background-image: url($icon-arrowdown-path);
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 30px;
        height: 108px;
        position: absolute;
        left: calc(50% - 15px);
    }
}
.services{
    &__title{
        font-weight: 900;
    }
    &__titleh2{
        color: $color-darkgray;
    }&__titleh3{
        &--darkgreen{
            color: $color-darkgreen2;
        }
        &--darkblue{
            color: $color-darkerblue;
        }
        margin-bottom: 27px;
    }
    &__text{
        color: $color-gray;
    }
    &__more, &__more:visited{
        text-decoration: none;
        color: $color-darkgray;
        font-family: Fraunces;
        text-transform: uppercase;
        font-weight: 900;
    }
    &__more::after{
        content: "";
        display: block;
        width: 137px;
        height: 10px;
        border-radius: 5px;
        top: -12px;
        z-index: -1;
        position: relative;
    }
    &__more.color-tangerine::after{
        background-color: $color-tangerine-alpha;
    }
    &__more.color-tangerine:hover{
        &::after{
            background-color: $color-tangerine;
        }
    }
    &__more.color-yellow::after{
        background-color: $color-yellow-alpha;
    }
    &__more.color-yellow:hover{
        &::after{
            background-color: $color-yellow;
        }
    }
    &__text--darkgreen{
        color:$color-darkgreen2;
    }
    &__text--darkblue{
        color:$color-darkblue;
    }
    &__image{
        background-repeat: no-repeat;
        background-size: contain;
        &.services__egg{
            background-image: url($image-egg-path);
        }
        &.services__cup{
            background-image: url($image-cup-path);
        }
    }
    &__design, &__photography{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__design{
        background-image: url($image-cherry-path);
    }&__photography{
        background-image: url($image-mandarin-path);
    }
}
.testimonials{
    text-align: center;
    h4{
        text-transform: uppercase;
        text-align: center;
        color: $color-lightgray;
    }
    &__text{
        color: $color-anothergray;
    }
    &__name{
        color: $color-darkgray;
        font-family: Fraunces;
        font-weight: 900;
        
    }
    &__roletitle{
        color: $color-lightgray;
    }
}
.footer{
    background-color: $color-lightgreen;
    text-align: center;
    &__milk{
        background-image: url($image-milk-path);
    }
    &__plate{
        background-image: url($image-plate-path);
    }
    &__cone{
        background-image: url($image-cone-path);
    }
    &__sugar{
        background-image: url($image-sugar-path);
    }
    &__illustration{
        background-size: cover;
    }
    &__menu, &__socialss {
        a, a:visited{
            text-decoration: none;
            color: $color-anothergreen;
        }
        a:hover{
            filter: brightness(100);
        }
    }
}