@font-face {
    font-family: Fraunces;
    src: url(../fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
@font-face {
    font-family: Fraunces-italic;
    src: url(../fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
@font-face {
    font-family: Barlow-semi;
    src: url(../fonts/Barlow-SemiBold.ttf);
}
@font-face {
    font-family: Barlow;
    src: url(../fonts/Barlow-Regular.ttf);
}
@font-face {
    font-family: Barlow-medium;
    src: url(../fonts/Barlow-Medium.ttf);
}
@font-face {
    font-family: Barlow-bold;
    src: url(../fonts/Barlow-Bold.ttf);
}