// Icon path
$icon-facebook-path: '../icons/facebook.svg';
$icon-instagram-path: '../icons/instagram.svg';
$icon-pinterest-path: '../icons/pinterest.svg';
$icon-twitter-path: '../icons/twitter.svg';
$icon-arrowdown-path: '../icons/arrowdown.svg';
$icon-burger-path: '../icons/burger.svg';
// Image path
$image-cherry-path: '../images/cherry.svg';
$image-cone-path: '../images/cone.svg';
$image-cup-path: '../images/cup.svg';
$image-egg-path: '../images/egg.svg';
$image-header-path: '../images/header.svg';
$image-header-mobile-path: '../images/header-mobile.svg';
$image-mandarin-path: '../images/mandarin.svg';
$image-milk-path: '../images/milk.svg';
$image-plate-path: '../images/plate.svg';
$image-sugar-path: '../images/sugar.svg';
$image-sunnyside-path: '../images/sunnyside.svg';
// Colors --my colors are a mess in the end
$color-white: #fff;
$color-white-alpha: rgba(#fff, 0.5);
$color-black: #000;
//exemple: background color
$color-lightblue:#39B5E4;
$color-lightblue2: #49bcf1;
//exemple: text in lightblue
$color-darkblue: #19536C;
$color-darkerblue: #052C3B;
//exemple: footer background
$color-lightgreen: #90D4C6;
//exemple: text in green background(like cherry image)
$color-anothergreen:#458D7E;
$color-darkgreen:#3E7467;
$color-darkgreen2:#24554A;
$color-yellow: #FAD400;
$color-yellow-alpha: rgba(250, 212, 0, 0.25);
$color-tangerine: #FE7766;
$color-tangerine-alpha: rgba(254, 119, 102, 0.25);
//exemple text
$color-gray: #808397;
//exemple text title
$color-darkgray:#24303E;
//exemple: client title
$color-lightgray: #A7AAAD;
$color-anothergray: #5B636D;