@media screen and (max-width: 800px) {
    .header{  
        background-image: url($image-header-mobile-path);
        aspect-ratio: 375/538;
        padding: 32px 24px 0 24px;
        grid-template-rows: 112px 258px;
        &__nav__menu:not(nav--is-visible){
            display: none;
        }
        &__nav{
            width: 24px;
            height: 18px;
            margin-left: auto;
            cursor: pointer;
        }
        &__title{
            max-width: 325px;
            font-size: 2.5em;
            letter-spacing: 6.25px;
        }
        &__title::after{
            margin-top: calc(62vw - 174px);
        }
    }
    .services{
        grid-template-columns: 100vw;
        grid-template-areas: 
                            "egg"
                            "brand"
                            "cup"
                            "audience"
                            "design"
                            "photography";
        text-align: center;
        &__article{
            padding: 64px 24px;
        }
        &__titleh2{
            font-size: 2em;
            margin-bottom: 24px;
        }
        &__text{
            margin-bottom: 40px;
        }
        &__more::after{   
            margin: auto;   
        }
        &__transform{
            grid-area: brand;
        }
        &__egg{
            grid-area: egg;
        }
        &__cup{
            grid-area: cup;
        }
        &__audience{
            grid-area: audience;
        }
        &__titleh3{
            margin-top: 398px;
        }
        &__design{
            grid-area: design;
            aspect-ratio: 375/600;
        }
        &__photography{
            grid-area: photography;
            aspect-ratio: 375/600;
        }
    }
    .testimonials{
        padding: 64px 24px;
        h4{
            margin-bottom: 64px;
            letter-spacing: 5px;
            font-weight: 900;
            font-size: 1em;
        }
        &__item{
            margin-bottom: 64px;
        }
        &__avatar{
            margin-bottom: 32px;
        }
        &__text{
            font-size: 1.25em;
            letter-spacing: -0.13px;
            margin-bottom: 32px;
        }
        &__name{
            font-family: Fraunces;
            font-size: 1.25em;
            letter-spacing: -0.13px;
            margin-bottom: 9px;
        }
        &__roletitle{
            letter-spacing: -0.1px;
            font-weight: 0.875em;
        }
    }
    .footer{
        grid-template-areas: 
                            "a b"
                            "c d"
                            "about about"                    
        ;
        text-align: center;
        &__about{
            grid-area: about;
            padding: 64px 39px;
        }
        &__illustration{
            aspect-ratio: 188/188;
        }
        &__brand{
            margin-bottom: 40px;
        }
        &__menu{
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 88px;
            display: flex;
            justify-content: space-between;
            max-width: 400px;
            font-size: 1.25em;
        }
        &__socialss{
            margin-left: auto;
            margin-right: auto;
            width: 164px;
            display: flex;
            justify-content: space-between;
        }
    }
}