/* line 1, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_reset.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 5, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_reset.scss */
html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

/* line 17, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_reset.scss */
footer, header, nav, section, main {
  display: block;
}

/* line 21, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 25, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 29, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 33, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 43, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_reset.scss */
input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: Fraunces;
  src: url(../fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
  font-family: Fraunces-italic;
  src: url(../fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
  font-family: Barlow-semi;
  src: url(../fonts/Barlow-SemiBold.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/Barlow-Regular.ttf);
}

@font-face {
  font-family: Barlow-medium;
  src: url(../fonts/Barlow-Medium.ttf);
}

@font-face {
  font-family: Barlow-bold;
  src: url(../fonts/Barlow-Bold.ttf);
}

/* line 1, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
p {
  font-family: Barlow-semi;
  letter-spacing: -0.13px;
  line-height: 30px;
}

/* line 7, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Fraunces;
}

/* line 11, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.grid {
  display: grid;
}

/* line 14, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.header {
  background-color: #49bcf1;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  grid-template-areas: "brand navi" "title title";
}

/* line 22, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.header__brand {
  grid-area: brand;
}

/* line 25, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.header__nav {
  grid-area: navi;
}

/* line 28, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.header__title {
  grid-area: title;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
}

/* line 37, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.header__title::after {
  content: "";
  background-image: url("../icons/arrowdown.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 30px;
  height: 108px;
  position: absolute;
  left: calc(50% - 15px);
}

/* line 50, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__title {
  font-weight: 900;
}

/* line 53, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__titleh2 {
  color: #24303E;
}

/* line 55, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__titleh3 {
  color: #24554A;
  margin-bottom: 27px;
}

/* line 59, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__text {
  color: #808397;
}

/* line 62, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__more, .services__more:visited {
  text-decoration: none;
  color: #24303E;
  font-family: Fraunces;
  text-transform: uppercase;
  font-weight: 900;
}

/* line 69, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__more::after {
  content: "";
  display: block;
  width: 137px;
  height: 10px;
  border-radius: 5px;
  top: -6px;
  z-index: -1;
  position: relative;
}

/* line 79, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__more.color-tangerine::after {
  background-color: rgba(254, 119, 102, 0.25);
}

/* line 83, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__more.color-tangerine:hover::after {
  background-color: #FE7766;
}

/* line 87, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__more.color-yellow::after {
  background-color: rgba(250, 212, 0, 0.25);
}

/* line 91, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__more.color-yellow:hover::after {
  background-color: #FAD400;
}

/* line 95, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__text {
  color: #24554A;
}

/* line 98, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__image {
  width: 100vw;
  aspect-ratio: 375 / 312;
  background-size: contain;
}

/* line 102, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__image.services__egg {
  background-image: url("../images/egg.svg");
}

/* line 105, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__image.services__cup {
  background-image: url("../images/cup.svg");
}

/* line 109, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__design, .services__photography {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 114, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__design {
  background-image: url("../images/cherry.svg");
}

/* line 116, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__photography {
  background-image: url("../images/mandarin.svg");
}

/* line 120, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.testimonials {
  text-align: center;
}

/* line 122, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.testimonials h4 {
  text-transform: uppercase;
  text-align: center;
  color: #A7AAAD;
}

/* line 127, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.testimonials__text {
  color: #5B636D;
}

/* line 130, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.testimonials__name {
  color: #24303E;
  font-family: Fraunces;
  font-weight: 900;
}

/* line 136, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.testimonials__roletitle {
  color: #A7AAAD;
}

/* line 140, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.footer {
  background-color: #90D4C6;
}

/* line 142, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.footer__milk {
  background-image: url("../images/milk.svg");
}

/* line 145, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.footer__plate {
  background-image: url("../images/plate.svg");
}

/* line 148, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.footer__cone {
  background-image: url("../images/cone.svg");
}

/* line 151, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.footer__sugar {
  background-image: url("../images/sugar.svg");
}

/* line 154, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.footer__illustration {
  background-size: cover;
}

/* line 158, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.footer__menu a, .footer__menu a:visited, .footer__socialss a, .footer__socialss a:visited {
  text-decoration: none;
  color: #458D7E;
}

/* line 162, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.footer__menu a:hover, .footer__socialss a:hover {
  filter: brightness(100);
}

@media screen and (max-width: 800px) {
  /* line 2, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .header {
    background-image: url("../images/header-mobile.svg");
    aspect-ratio: 375/538;
    padding: 32px 24px 0 24px;
    grid-template-rows: 112px 258px;
  }
  /* line 7, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .header__nav__menu:not(nav--is-visible) {
    display: none;
  }
  /* line 10, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .header__nav {
    width: 24px;
    height: 18px;
    margin-left: auto;
    cursor: pointer;
  }
  /* line 16, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .header__title {
    max-width: 325px;
    font-size: 2.5em;
    letter-spacing: 6.25px;
  }
  /* line 21, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .header__title::after {
    margin-top: calc(62vw - 174px);
  }
  /* line 25, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .services {
    grid-template-columns: 100vw;
    grid-template-areas: "egg" "brand" "cup" "audience" "design" "photography";
    text-align: center;
  }
  /* line 35, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .services__article {
    padding: 64px 24px;
  }
  /* line 38, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .services__titleh2 {
    font-size: 2em;
    margin-bottom: 24px;
  }
  /* line 42, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .services__text {
    margin-bottom: 40px;
  }
  /* line 45, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .services__more::after {
    margin: auto;
  }
  /* line 48, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .services__transform {
    grid-area: brand;
  }
  /* line 51, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .services__egg {
    grid-area: egg;
  }
  /* line 54, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .services__cup {
    grid-area: cup;
  }
  /* line 57, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .services__audience {
    grid-area: audience;
  }
  /* line 60, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .services__titleh3 {
    margin-top: calc(100vw + 23px);
  }
  /* line 63, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .services__design {
    grid-area: design;
    aspect-ratio: 375/600;
  }
  /* line 67, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .services__photography {
    grid-area: photography;
    aspect-ratio: 375/600;
  }
  /* line 72, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .testimonials {
    padding: 64px 24px;
  }
  /* line 74, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .testimonials h4 {
    margin-bottom: 64px;
    letter-spacing: 5px;
    font-weight: 900;
    font-size: 1em;
  }
  /* line 80, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .testimonials__item {
    margin-bottom: 64px;
  }
  /* line 83, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .testimonials__avatar {
    margin-bottom: 32px;
  }
  /* line 86, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .testimonials__text {
    font-size: 1.25em;
    letter-spacing: -0.13px;
    margin-bottom: 32px;
  }
  /* line 91, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .testimonials__name {
    font-family: Fraunces;
    font-size: 1.25em;
    letter-spacing: -0.13px;
    margin-bottom: 9px;
  }
  /* line 97, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .testimonials__roletitle {
    letter-spacing: -0.1px;
    font-weight: 0.875em;
  }
  /* line 102, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .footer {
    grid-template-areas: "a b" "c d" "about about";
    text-align: center;
  }
  /* line 109, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .footer__about {
    grid-area: about;
    padding: 64px 39px;
  }
  /* line 113, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .footer__illustration {
    aspect-ratio: 188/188;
  }
  /* line 116, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .footer__brand {
    margin-bottom: 40px;
  }
  /* line 119, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .footer__menu {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 88px;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    font-size: 1.25em;
  }
  /* line 128, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .footer__socialss {
    margin-left: auto;
    margin-right: auto;
    width: 164px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  /* line 2, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_desktop.scss */
  .header {
    aspect-ratio: 1440/800;
    padding: 34px 48px 0 40px;
  }
  /* line 6, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_desktop.scss */
  .header__title {
    font-size: 3.5em;
  }
}

/*# sourceMappingURL=styles.css.map */