/* line 1, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_reset.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 5, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_reset.scss */
html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

/* line 17, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_reset.scss */
footer, header, nav, section, main {
  display: block;
}

/* line 21, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 25, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 29, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 33, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 43, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_reset.scss */
input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: Fraunces;
  src: url(../fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
  font-family: Fraunces-italic;
  src: url(../fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
  font-family: Barlow-semi;
  src: url(../fonts/Barlow-SemiBold.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../fonts/Barlow-Regular.ttf);
}

@font-face {
  font-family: Barlow-medium;
  src: url(../fonts/Barlow-Medium.ttf);
}

@font-face {
  font-family: Barlow-bold;
  src: url(../fonts/Barlow-Bold.ttf);
}

/* line 1, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
p {
  font-family: Barlow-semi;
  letter-spacing: -0.13px;
  line-height: 30px;
}

/* line 7, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Fraunces;
}

/* line 11, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.grid {
  display: grid;
}

/* line 14, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.header {
  background-color: #49bcf1;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  grid-template-areas: "brand navi" "title title";
}

/* line 22, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.header__brand {
  grid-area: brand;
}

/* line 25, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.header__nav {
  grid-area: navi;
}

/* line 28, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.header__title {
  grid-area: title;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
}

/* line 37, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.header__title::after {
  content: "";
  background-image: url("../icons/arrowdown.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 30px;
  height: 108px;
  position: absolute;
  left: calc(50% - 15px);
}

/* line 50, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__title {
  font-weight: 900;
}

/* line 53, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__titleh2 {
  color: #24303E;
}

/* line 56, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__text {
  color: #808397;
}

/* line 59, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__more, .services__more:visited {
  text-decoration: none;
  color: #24303E;
  font-family: Fraunces;
  text-transform: uppercase;
  font-weight: 900;
}

/* line 66, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__more::after {
  content: "";
  display: block;
  width: 137px;
  height: 10px;
  border-radius: 5px;
  top: -6px;
  z-index: -1;
  position: relative;
}

/* line 76, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__more.color-tangerine::after {
  background-color: rgba(254, 119, 102, 0.25);
}

/* line 80, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__more.color-tangerine:hover::after {
  background-color: #FE7766;
}

/* line 84, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__more.color-yellow::after {
  background-color: rgba(250, 212, 0, 0.25);
}

/* line 88, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/_global.scss */
.services__more.color-yellow:hover::after {
  background-color: #FAD400;
}

@media screen and (max-width: 600px) {
  /* line 2, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .header {
    background-image: url("../images/header-mobile.svg");
    aspect-ratio: 375/538;
    padding: 32px 24px 0 24px;
    grid-template-rows: 112px 258px;
  }
  /* line 7, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .header__nav__menu:not(nav--is-visible) {
    display: none;
  }
  /* line 10, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .header__nav {
    width: 24px;
    height: 18px;
    margin-left: auto;
  }
  /* line 15, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .header__title {
    max-width: 325px;
    font-size: 2.5em;
    letter-spacing: 6.25px;
  }
  /* line 20, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .header__title::after {
    margin-top: calc(62vw - 174px);
  }
  /* line 24, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .services {
    grid-template-columns: 100vw;
    text-align: center;
  }
  /* line 27, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .services__article {
    padding: 64px 24px;
  }
  /* line 30, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .services__titleh2 {
    font-size: 2em;
    margin-bottom: 24px;
  }
  /* line 34, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .services__text {
    margin-bottom: 40px;
  }
  /* line 37, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_mobile.scss */
  .services__more::after {
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  /* line 2, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_desktop.scss */
  .header {
    aspect-ratio: 1440/800;
    padding: 34px 48px 0 40px;
  }
  /* line 6, ../../OneDrive/Documents/BeCode/sunnyside-agency/assets/scss/layout/_desktop.scss */
  .header__title {
    font-size: 3.5em;
  }
}

/*# sourceMappingURL=styles.css.map */